*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --navboard-min-width: 700px;
  --dynamic-navboard-width: 70vw;
  --page-margin-top: 10px;
}

@mixin center-section($vert-margin, $width){
  margin: $vert-margin auto;
  width: $width;
}

html{
  font-size: 10px;
  font-family: Verdana;
}
body{
  background-color: lightgray;
}
.hide{
  display: none;
}
header{
  #page-title{
    width: max(100vw, var(--navboard-min-width));
    margin-top: var(--page-margin-top);
  }
  #nav-board{
    @include center-section(10px, 
max(var(--dynamic-navboard-width), var(--navboard-min-width)));
    border: 5px solid black;
    border-radius: 10%;
    
    background-color: white;
    ul{
      display: flex;
      justify-content: space-around;
      margin: 0;
    }
    ul > li {
      font-size: 3em;
      list-style: none;
      margin-left: -15px;
      font-family: "Roboto Flex";
      border: 2px solid black;
      border-radius: 2%;
      padding: 5px 30px;
    }
  }
}
main{
  width: max(var(--navboard-min-width), 100vw);
}
#cart-btn{
  height: calc(2 * 10px + 5rem);
  
  padding: 10px;
  i{
    font-size: 5rem;
    color: black;
  }
  position: absolute;
  top: var(--page-margin-top);
  right: min(calc((100vw - var(--dynamic-navboard-width)) / 2), calc((100vw - var(--navboard-min-width)) / 2));
}
#cart-section{
  @include center-section(10px, max(50vw, 600px));
  border: 3px solid black;
  background-color: white;
  padding: 1em;;
  font-size: 2.4rem;
  
  #cart-title{
    font-size: 2.4rem;
    margin: 0;
    width: max(88%);
    display: inline-block;
  }
  #clear-cart-btn{
    width: max(12%, 50px);
    display: inline-block;
    font-size: 1.75rem;
  }
  #products-container{
    #empty-notification{
      font-size: 1.8rem;
    }
    .item{
      border-bottom: 1px solid gray;
      border: 1px solid black;
      @include center-section(5px, 90%);
      display: flex;
      img{
        width: 30%;
        object-fit: contain;
      }
      .item-info-holder{
        border: 1px solid black;
        width: 70%;
      }
      .item-info{
        text-align: right;
        border: 1px dashed black;
        .item-name{
          font-weight: bold;
          font-size: 2.75rem;
        }
        width: 50%;
        font-size: 2.0rem;
      }
      .item-purchase-total-price{
        text-align: right;
        display: inline-block;
        width: 50%;
      }
      .flex-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .item-quantity{
        margin-block: 1em;
        
        button{
          padding: 2.5px 10px;
          font-size: 2rem;
          width: 4rem;
        }
      }
    }
  }
  #totals-container{
    width: 30%;
    margin: 20px auto;
    font-size: 2rem;
  }
}
#shop-section{
  @include center-section(20px, max(calc(var(--navboard-min-width) - 300px), 70vw));
  border: 5px solid black;
  border-radius: 2%;
}
.text-center{
    text-align: center;
}
.large-text{
    font-size: 3.5em;
}
#page-title{
    font-size: 5rem;
}
#card-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  background-color: white;
  border-radius: 0 0 1.35% 1.35%;
  z-index: 0;
}
.item-card{
    width: 200px;
    max-width: 250px;
    margin: 20px 10px;
    border: 3px solid black;
  border-radius: 0 0 12.5px 12.5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    position: relative;
    .image-section{
        width: 75%;
        height: 40%;
        
        display: block;
        margin: 5px auto;
        border: 1px solid black;
        position: relative;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .text-section{
        width: 70%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .title{
        font-size: 2.2em;
        margin: 10px;
    }
    .price, .supply{
        margin: 10px;
    }
    .price{
        font-size: 2em;
    }
    .supply{
        font-size: 1.5em;
    }
    button{
        
        background: linear-gradient(#cfbf99, #a78954);
        color: #000000;
        outline-color: #aaaa00;
      font-size: 1.75rem;
      font-family: "Roboto Flex";
      padding: 10px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 0 0 10px 10px;
    }
  
    .sold-out{
        position: absolute;
        opacity: 0.5;
    }
}
 
dialog{
    border-radius: 10px;
    font-size: 2rem;
    @include center-section(auto, 400px);
  h2{
    width: 90%;
    margin: auto;
  }
  button{
     cursor: pointer;
     height: 2em;
     font-size: 1em;
     text-align: center;
     display: block;
     width: 80%;
     margin: 10px auto;
  }
   
    #number-of-items, #clear-cart{
        height: 2em;
        font-size: 1em;
        width: max(50%, 300px);
        margin: 25px auto;
        display: block;
        text-align: center;
    }
    
}

footer{
  width: 100%;
  padding: 20px;
  background-color: lightgray;
}
footer a, footer address {
  font-size: 2.5rem;
  width: 100%;
  
}
footer a{
  display: inline-block;
  margin-bottom: 15px;
}
footer address{
  display: block;
  
}

@media (max-width: 600px){
  #cart-section{
    width: 400px;
    #cart-title{
      width: calc(100% - 50px);
    }
    #clear-cart-btn{
      font-size: 1.5rem;
    }
  }
  
}
